@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

body{
    position:relative;
    padding-top:110px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
    background-color:#f8f9fa;
    margin-bottom: 30px;
    position:fixed;
    width: 100%;
    z-index: 9999;
    top:0;
    left: 0;
    right: 0;
}

.logo, .logo__button{
    margin-right: auto;
    cursor:pointer;
}
.logo__button{
    margin-left: 0px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display:inline-block;
    padding: 0px 20px;
}

.nav__links a {
    transition: all 0.3s ease 0s; 
}

.nav__links a:hover{
    color:#0088a9;
}

button {
    color:white;
    margin-left:20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s; 
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}

#soufiane{
    padding: 0px 5% 30px;
}

.container{
    display:flex;
    align-items: center;
}

.container_texte{
    width:50%;
    padding:0px 1.5rem 0px 0px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.container_image{
    width:50%;
}

#soufiane h1, #soufiane b{
    font-weight: 700;
    font-size:2.5rem;
}

#soufiane h2{
    font-weight: 500;
    font-size: 1.5rem;
    font-family: "Roboto";
}

img{
    border-radius: 20px;
}

.left{
    margin-left:0px;
    margin-top: 50px;
    border-radius:0px;
}

.skills, .other_skills, .contact_containers{
    background-color:#f8f9fa;
    padding:0px 5% 30px;
}

.progress_bar_img2 img{
    width: 70%;
}

.progress_bar{
    width:70%;
    padding: 0px .5rem 0px .5rem;
    display: flex;
    flex-direction: column;
}

.progress{
    display:flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px;
    margin-bottom: 10px;

}

.fa-brands, .fa-solid{
    color: #0088a9;
}

.progress_html{
    position: relative;
    width:70%;
    height: .8em;
    background-color: #f8f9fa;
    border-radius: .5em;
    color:white;
}

.progress_html::before{
    content:attr(data-label);
    display:flex;
    align-items: center;
    position:absolute;
    top: .05em;
    bottom: .05em;
    width: 90%;
    min-width: .5rem;
    max-width: calc(100% - .1em);
    background-color: #0088a9;
    border-radius:.5em;
    padding: .1em;
}

.progress_titles{
    padding: 30px 0px;
}

.progress_css{
    position: relative;
    width:70%;
    height: .8em;
    background-color: #f8f9fa;
    border-radius: .5em;
    color:white;
}

.progress_css::before{
    content:attr(data-label);
    display:flex;
    align-items: center;
    position:absolute;
    top: .05em;
    bottom: .05em;
    width: 80%;
    min-width: .5rem;
    max-width: calc(100% - .1em);
    background-color: #0088a9;
    border-radius:.5em;
    padding: .1em;
}

.progress_js{
    position: relative;
    width:70%;
    height: .8em;
    background-color: #f8f9fa;
    border-radius: .5em;
    color:white;
}

.progress_js::before{
    content:attr(data-label);
    display:flex;
    align-items: center;
    position:absolute;
    top: .05em;
    bottom: .05em;
    width: 80%;
    min-width: .5rem;
    max-width: calc(100% - .1em);
    background-color: #0088a9;
    border-radius:.5em;
    padding: .1em;
}

.progress_reactjs{
    position: relative;
    width:70%;
    height: .8em;
    background-color: #f8f9fa;
    border-radius: .5em;
    color:white;
}

.progress_reactjs::before{
    content:attr(data-label);
    display:flex;
    align-items: center;
    position:absolute;
    top: .05em;
    bottom: .05em;
    width: 80%;
    min-width: .5rem;
    max-width: calc(100% - .1em);
    background-color: #0088a9;
    border-radius:.5em;
    padding: .1em;
}

.progress_nodejs{
    position: relative;
    width:70%;
    height: .8em;
    background-color: #f8f9fa;
    border-radius: .5em;
    color:white;
}

.progress_nodejs::before{
    content:attr(data-label);
    display:flex;
    align-items: center;
    position:absolute;
    top: .05em;
    bottom: .05em;
    width: 80%;
    min-width: .5rem;
    max-width: calc(100% - .1em);
    background-color: #0088a9;
    border-radius:.5em;
    padding: .1em;
}

.progress_bar_img{
    width: 40%;
    padding: 0px 0px 0px .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progress_suite{
    position: relative;
    width:100%;
    height: .8em;
    background-color: #f8f9fa;
    border-radius: .5em;
    color:white;
}

.progress_suite::before{
    content:attr(data-label);
    display:flex;
    align-items: center;
    position:absolute;
    top: .05em;
    bottom: .05em;
    width: 75%;
    min-width: .5rem;
    max-width: calc(100% - .1em);
    background-color: #0088a9;
    border-radius:.5em;
    padding: .1em;
}

.progress_bar2 .title_{
    padding-left: 12px;
    padding-right: 12px;
}

.progress_office{
    position: relative;
    width:100%;
    height: .8em;
    background-color: #f8f9fa;
    border-radius: .5em;
    color:white;
}

.progress_office::before{
    content:attr(data-label);
    display:flex;
    align-items: center;
    position:absolute;
    top: .05em;
    bottom: .05em;
    width: 75%;
    min-width: .5rem;
    max-width: calc(100% - .1em);
    background-color: #0088a9;
    border-radius:.5em;
    padding: .1em;
}

.progress_bar2{
    width:90%;
    padding: 0px .5rem 0px .5rem;
    display: flex;
    flex-direction: column;
}

.containers,footer{
    padding:30px 5% 30px;
}

.containers img{
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    max-width: 100%;
}

.portfolio_container{
    display:flex;
}
.projet{
    border: solid;
    border-radius: 10px;
    border-color: #f8f9fa;
    margin-right: 25px;
}

.titlees{
    font-weight: bold;
}
.titlees,.button_portfolio,.textes{
    padding: 15px;
}

.button_portfolio{
    border-radius: 0px;
    margin-bottom: 1.5em;
    font-size: 0.9em;
    justify-content: center;
}

.titles h1,.progress_titles h1, .contact_titles h1{
    font-weight: bold;
    font-size: 1.7em;
}

.titles h2, .progress_titles h2, .contact_titles h2{
    font-size: 1.2em;
    font-weight: 200;
}

.titles h2, .contact_titles h2{
    margin-bottom: 1em;
}

.contact_img{
    width: 40%;
}
.contact_form_all, footer{
    display: flex;
}

footer{
    justify-content: space-between;
    align-items: center;
}

.contact_prenom_nom{
    display:flex;
    justify-content: space-between;

}

.contact_containers input{
    display: block;
    width: 100%;
}

.contact_form{
    padding: 0 2em 2em 2em;
    width:60%
}

input, label{
    margin:1em;
}
.contact_prenom{
    margin-right: 2em;
}

.contact_message input{
    height:6em;
}
.contact_submit input{
    background-color:#0088a9;
    color:aliceblue;
    padding:0.5em;
}
.contact_form label{
    font-weight: 300;
}